.darkMode {
  footer {
    .footer__top {
      ul {
        .nav-item {
          .nav-link {
            color: $color-dark-5;
          }
        }
      }
      .btn-group {
        .button--dropup {
          background: $color-dark-2;
        }
        .dropdown-menu {
          background-color: $color-dark-2;
          .dropdown-item {
            color: $color-dark-5;
          }
        }
      }
    }
  }
}
