.card {
  height: 275px;
  margin-right: 1px;

  //   border: none;
  .card-body {
    padding: 10px 19px;
    // padding: 1rem;
    .card-title {
      margin: 1px 0;
      @include styleText($color-black-0, $fs-0, $fw-1);
    }
    .card-text {
      @include styleText($color-gray-0, $fs-1 - 1, $fw-0);
      margin: 5px 0;
    }
    .card__stars {
      i {
        @include styleText($color-yellow-0, $fs-1 - 1, $fw-3);
      }
      .card__rate {
        @include styleText($color-gray-0, $fs-1, $fw-1);
      }
      .card__total {
        @include styleText($color-gray-0, $fs-1, $fw-0);
      }
    }
    .card__price {
      text-align: right;
      padding: $pd-2 + 3 0;
      span {
        &:first-child {
          @include styleText($color-gray-0, $fs-1, $fw-0);
          text-decoration: line-through;
        }
        &:last-child {
          @include styleText($color-black-0, $fs-0, $fw-1);
        }
      }
    }
  }
}
.card--feedback {
  height: 280px;
  .card-body {
    .card__top {
      display: flex;
      margin-bottom: $mg-2 - 5;
    }
    .card-text {
      color: $color-black-0;
      @include styleText($color-black-0, $fs-0, $fw-0);
    }
    padding: 2rem;
    .card__avata {
      margin-right: $mg-2 - 5;
      img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
      }
    }
    .card__name {
      margin-bottom: 0;
    }
  }
}
