.cover {
  background-image: url(../img/cover__1.jpg);

  // @extend .backgroundImg;
  // @extend %backgroundImg;
  background-size: cover;
  height: 600px;
  position: relative;
  .cover__content {
    max-width: 500px;
    // box-shadow: 0 4px 16px $color-gray-1;
    // background-color: $color-black-0;
    position: absolute;
    top: 50%;
    left: 9%;
    transform: translateY(-50%);
    h1 {
      @include styleText($color-white-0, $fs-2, $fw-2);
    }
    p {
      @include styleText($color-white-0, $fs-3, $fw-0);
    }
    .cover__form {
      @include styleFormSearch(
        $color-white-0,
        $color-white-0,
        $color-white-0,
        $color-black-light
      );
    }
  }
  @include responsive("small") {
    .cover__content {
      max-width: 400px;
    }
  }
}
