// .backgroundImg {
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

// placeholder sử dụng dấu % bên trước
%backgroundImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
